### Load the data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\sande\Downloads\email_data.csv")
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\nthis deal is to ...,0

In [3]:
data = data.drop('Unnamed: 0', axis = 1)
data.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\nth...          0
1   ham  Subject: hpl nom for january 9 , 2001\n( see a...          0
2   ham  Subject: neon retreat\nho ho ho , we ' re arou...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\nthis deal is to ...          0

## EDA

In [4]:
# Data imbalance
data['label'].value_counts(normalize = True)

label
ham     0.710114
spam    0.289886
Name: proportion, dtype: float64

- **Upsampling:** Increasing the number of samples in the minority class (e.g., by duplicating or generating synthetic data) so both classes have similar sizes.

- **Downsampling:** Reducing the number of samples in the majority class (e.g., by randomly removing data) to balance the dataset.

- Both samples are used to handle the imbalanced datasets so the model doesnâ€™t get biased toward one class.

### Frequency distribution of Tokens/Words in the corpus

In [8]:
import nltk
from nltk.probability import FreqDist

- tokens of the corpus as an input 
- list of all tokens in the dataset

In [9]:
from nltk import word_tokenize
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\sande\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [ ]:
token = []
[word_tokenize(doc) for doc in data['text']]
token